### Data & Databases ###
dataset/
*.db
*.sqlite

### Python & Environment ###
__pycache__/
.pytest_cashe/

# Virtual environment
venv/
.venv/

### Jupyter ###
.ipynb_checkpoints/
*.ipynb_checkpoints

# File types
*.log
*.env
.DS_Store%  